---
layout: default
---

<div id="tabs">
  <div class="tab active" data-tab="tab1">Introduction</div>
  <div class="tab" data-tab="tab2">Parking</div>
  <div class="tab" data-tab="tab3">Are Parking Spots Disappearing?</div>
  <div class="tab" data-tab="tab4">Car Ownership</div>
  <div class="tab" data-tab="tab5">Will It Get better?</div>
</div>

<div id="tab-contents">
  {% include Introduction.html %}
  {% include Parking.html %}
  {% include AreParkingSpotsDisappearing.html %}
  {% include CarOwnership.html %}
  {% include WillItGetBetter.html %}
</div>

<script>
  const tabs = document.querySelectorAll(".tab");
  const contents = document.querySelectorAll(".tab-content");

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      tabs.forEach((t) => t.classList.remove("active"));
      contents.forEach((c) => c.classList.remove("active"));

      tab.classList.add("active");
      document.getElementById(tab.dataset.tab).classList.add("active");
    });
  });
</script>
