<div id="tab4" class="tab-content">
    <h2>Car Ownership</h2>
    <p>Copenhagen has always seen its share of cars. As the times change, so does the city and its cars. The following is a time series graph of car ownership in Copenhagen.</p>


    <p>Notice the spike in electric cars that start in 2019. It's timed with a dive in diesel cars and a few years later (2022) benzin and all other car types as well. The influx of electric cars, however, is not matching the drop seen in non-electric car ownership.
        Actually, the total number of owned cars in Copenhagen has dropped by X% from 2022 to 2024. The reason for this could be manyfold, but a possible explanation is... </p>
</div>