<div id="tab1" class="tab-content active">
  <h2>Parking In Copenhagen</h2>
  <p>
    Talk to any car owner in Copenhagen and they will talk your ear off about how
    difficult it is to park anywhere in Copenhagen, unless you own your own
    parking spot. Everyone from news outlets to committees and private persons have all been raising their voices for years that the parking situation is getting worse
    [<a href="https://www.berlingske.dk/samfund/se-kortet-her-skal-du-ikke-regne-med-at-kunne-parkere-i-koebenhavn?gaa_at=eafs&gaa_n=AerBZYOMfhArOV8KOY2-zdwv50jJK9IwSm4ziBxkqlVAMJQH4Tzww99ZluXIYq8kZkw%3D&gaa_ts=68204c07&gaa_sig=NB_XBX4x9DeSaxTC48qFeQgBcuZ69-hLgn61dVMQuvTk1Y8f1guam7T5L0ta9vDFhAG3l1pKDVdV4eIEkG9sJQ%3D%3D" target="_blank">Berlingske</a>]
    [<a href="https://vanloeselokaludvalg.kk.dk/sites/default/files/2023-09/Borgerpanel%20kommentarer%20-%20parkering%20generelt.pdf" target="_blank">Vanløse Lokaludvalg</a>]
    [<a href="https://nyheder.tv2.dk/2021-10-27-bruger-tusindvis-af-kroner-og-tid-paa-at-lede-efter-parkering-og-det-bliver-kun-vaerre" target="_blank">TV2</a>].

  </p>
  <p>
    Is this the reality or just complaints and bad planning? To
    answer that question, we need to look at the parking situation in Copenhagen
    and how it has changed over the years. Parking has always been a hot topic
    in Copenhagen, and it has been a source of frustration for many residents
    and visitors alike. The city has a long history of car ownership, and as the
    number of cars on the road has increased, so too has the demand for parking
    spaces. To explore the parking habits of inhabitants in Copenhagen,
    we will look at the parking spaces available in the city and the number of cars
    registered in the cities' districts and try to show and explain the evolution of parking
    in the city over the years. The data for parking spaces can be found at
    <a href="https://www.opendata.dk/city-of-copenhagen/parkeringspladser" target="_blank">opendata.dk</a>
    and occupancy can be found <a href="https://www.opendata.dk/city-of-copenhagen/parkeringstaellinger" target="_blank">on opendata.dk as well</a>.
    The data car ownership can be found at <a href="https://kk.statistikbank.dk" target="_blank">kk.statistikbank.dk</a>,
    and we derived the districts from <a href="https://www.opendata.dk/city-of-copenhagen/bydele" target="_blank">another dataset at opendata.dk</a>.
  </p>


  All the district in Copenhagen can be seen in the map below. 
  Notice that Frederiksberg is not part of the capital Copenhagen, but it is completely surrounded by the Copenhagen's districts. 
  <div class="map-container">
    <iframe
      src="../assets/figures/CPH_districts_only.html"
      class="iframe"
      style="min-height: 650px;"
    ></iframe>
    <figcaption style="text-align: center; font-style: italic; margin-top: 0.5em;">
      Figure 1: Copenhagen districts.
    </figcaption>
  </div>
</div>
