<div id="tab1" class="tab-content active">
  <h2>Parking In Copenhagen</h2>
  <p>
    Talk to any car owner in Copenhagen and they'll talk your ear off about how
    difficult it is to park anywhere in Copenhagen, unless you own your own
    parking spot. Is this the reality or just complaints and bad planning? To
    answer that question, we need to look at the parking situation in Copenhagen
    and how it has changed over the years. Parking has always been a hot topic
    in Copenhagen, and it has been a source of frustration for many residents
    and visitors alike. The city has a long history of car ownership, and as the
    number of cars on the road has increased, so too has the demand for parking
    spaces. [SOURCE] To explore the parking habits of inhabitants in Copenhagen,
    we will look at the parking spaces available in the city, the number of cars
    registered in the city and try to show and explain the evolution of parking
    in the city over the years. The data for parking can be at
    https://www.opendata.dk/city-of-copenhagen/parkeringstaellinger and car
    ownership can be found at [SOURCE].
  </p>


  All the district in Copenhagen can be seen in the map below. Notice that Frederiksberg is not part of the city of Copenhagen, but it is surrounded by the city. 
  <div class="map-container">
    <iframe
      src="../assets/figures/CPH Districts.html"
      class="iframe"
    ></iframe>
  </div>
</div>
